	<!DOCTYPE html>
<html ng-app="ticApp">
<head>
	<title>Tic tac toe</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/angular.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/TicController.js"></script>

</head>
<body ng-controller="TicController as tic">
<div id="whole">
	<div id="top">
		<H1>Super Tic-tac-toe</H1>
		<a>{{tic.game.hidden_message}}</a><br>
		<a ng-show="tic.game.go">{{tic.message_true}}</a><a ng-hide="tic.game.go">{{tic.message_false}}</a>
	</div>
	<div id="sidebar">
		<h3>score board</h3>
		<ul>
			<li>Player X: {{tic.game.xscore}}</li>
			<li>Player O: {{tic.game.oscore}}</li>
			<h4 ng-click="tic.resetScore()">reset score</h4>
		</ul>
	</div>
	<div id="container">
		<div class="boxes" ng-repeat="t in tic.game.box" ng-click="tic.click(t)"><span>{{t.text}}</span></div>
	</div>
	
	<div id="container2" ng-show="tic.game.gameover">
		<h2 id="win_message">{{tic.game.winner}}</h2>
		<span id="restart" ng-click="tic.restart()">play again?</span>
	</div>
	<div id="conv">
		{{tic.message}}
	</div>

</div>
</body>
</html>